@font-face {
    font-family:Gothi;
    src: url(../Fonts/DelaGothicOne-Regular.ttf);
  }

  @font-face {
    font-family: Montser;
    src: url(../Fonts/Montserrat-Regular.ttf);
  }

  body {
    background: #F6F5F4;
}

  *{
    box-sizing: border-box;
   }

.mark{
    background: #F6F5F4;
    display: flex;
    align-items: center;
    box-shadow: inset 0px -1px 0px #E0E0E0;
}

.menu_block{
    display: flex;
    margin-inline: auto;
    align-items: center;
    width: 1180px;
    height: 88px;
}

.dropbtn{
    border: none;
    background: #F6F5F4;

    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    color: #757575;
}

.dropdown {
    position: relative;
    display: inline-block;
    
    flex-grow: 0;
  }

  .dropdown-content  {
    padding: 20px;
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 215px;
    height: 92px;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08);

    background-color: #FFFFFF;
    border-radius: 14px;
}

.dropdown-content a {
    border-radius: 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFFFFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #F6F5F4;}

.sprint {
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    color: #333333;
}

.audio{
    font-family: Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    color: #828282;
}

.text1{
    font-family: Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;

    letter-spacing: -0.02em;

    color: #000000;
}

.vector2{
    margin: 0px 30px;
    width: 0px;
    font-size:16.87px;
   
    color: #E0E0E0;
}

.text3{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;
    color: #000000;

}

.text4{
    margin: 0px 30px;
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;
    color: #757575;
}

.menu2{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.border-text5{
    width: 41px;
    height: 40px;
    padding: 9px 14px;

    background: #C3DCE3;
    border-radius: 100px;
}

.text5{

    font-family: Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;

    color: #2B788B;
}

.text6{
    margin-left: 10px;
    margin-right: 30px;
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;

    color: #757575;
}

.btn1{
    height: 16px;
    background-color: #F6F5F4;

    font-family:Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    
    color: #000000;
    border: none;
    }

    .mark1{
        display: flex;
        align-items: center;
    }

    .box{
     margin-inline: auto;
     padding: 20px;
     
    }

    .book-box{
        display: flex;
        justify-content:space-between;
        align-items: center;
       
        height: 84px;

        background: #FFFFFF;
        border-radius: 14px;
    }

    .book-book{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
    }

    .book1{
      margin-left: 20px; 
    }

    .textbook{
        margin-left: 12px;

        font-family:Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;

        letter-spacing: -0.04em;

        color: #757575;
    }

    .vector{ 
    margin: 0px 20px; 
    font-size: 32px;

    color: #E0E0E0;
    }

    .dictionary{
        margin-left:11px ;

        font-family:Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;

        letter-spacing: -0.04em;

        color: #000000;

    }

    .settings{
        display: flex;
        justify-content: space-between;
        
    }

    .set1{
        width: 146px;
        height: 44px;

        background: #F2D4DC;
        border-radius: 14px;
    }

    .sneaker{
        width: 44px;
        height: 44px;
        border-radius: 14px;
    }

    .sprint1{
        width: 48px;
        height: 16px;
        position: absolute;
        margin-top: 14px;
        margin-left: 15px;

        font-family:Montser;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        letter-spacing: -0.04em;

        color: #945069;
    }

    .set2{
        width: 178px;
        height: 44px;
        margin: 0px 10px;

        background: #C3DCE3;
        border-radius: 14px;
    }

    .laut{
        width: 44px;
        height: 44px;
       
        border-radius: 14px;
    }

    .audio-call{
        position: absolute;
        width: 82px;
        height: 16px;
        text-decoration: none;
        margin-top: 14px;
        margin-left: 15px;

        font-family:Montser;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;

        letter-spacing: -0.04em;

        color: #2B788B;
 }

    .set3{
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 10px;

        background: #F6F5F4;
        border-radius: 4px;
    }

    .alfa{
        width: 830px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 175px;
    }

    .alfa1{
        width: 94px;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
    
        padding-bottom: 5px;
        border-bottom: 2px solid #000000;
        position: relative;
    }

    .alfa1:hover{
        border-bottom: 2px solid purple;
    }

    .alfa1::before{
        position: absolute;
        content: "";
        width: 0px;
        height: 3px;
        background: #000000;
        bottom: 0px;
        left: 0px;
        transition: width 0.3s;
    }

    .alfa1:hover:before{
     width: 100%; 
   }

    .alfa_a1{
        width: 39px;
        height: 26px;

        font-family:  Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;

        letter-spacing: -0.04em;

        color: #000000;
 }

 .alfa-box{
    width: 43px;
    height: 25px;
    padding: 4px 8px;
    margin-left: 12px;

    background: #639B6D;
    border-radius: 4px;
 }

 .a1 {
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    
    letter-spacing: -0.04em;
    color: #F6F5F4;
 }


 .alfa2{
    width: 99px;
    height: 26px;
    display: flex;
    align-items: center;
 }

 .alfa2:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}

 .alfa_a2{
       width: 44px;
        height: 26px;

        font-family: Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;

        letter-spacing: -0.04em;
        color: #757575;
 }

 .alfa-box1{
    width: 43px;
    height: 25px;
    padding: 4px 8px;
    margin-left: 12px;

    background: rgba(99, 155, 109, 0.3);
    border-radius: 4px;

 }

 .a2{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;

    letter-spacing: -0.04em;
    color: #639B6D;
 }

 .alfa3{
    width: 116px;
    height: 26px;
    display: flex;
    align-items: center;
 }

 .alfa3:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
 }

 .alfa_b1{
    width: 38px;
    height: 26px;

    font-family: Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;
    color: #757575;
 }

 .alfa-box2{
    width: 66px;
    height: 25px;
    padding: 4px 8px;
    margin-left: 12px;

    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;
 }

 .b1{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;

    letter-spacing: -0.04em;
    color: #C4A24C;
 }

 .alfa4{
     display: flex;
     align-items: center;
     width: 122px;
    height: 26px;
 }

 .alfa4:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
 }

 .alfa_b2{
    width: 44px;
    height: 26px;

    font-family: Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;
    color: #757575;
 }

 .alfa-box3{
    width: 66px;
    height: 25px;
    padding: 4px 8px;
    margin-left: 12px;

    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;
 }

 .b2{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;

    letter-spacing: -0.04em;
    color: #C4A24C;
 }

 .alfa5{
    display: flex;
    align-items: center;
    width: 96px;
    height: 26px;
 }

 .alfa5:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
 }

 .alfa_c1{
    width: 39px;
    height: 26px;

    font-family:Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;
    color: #757575;
 }

 .alfa-box4{
    width: 45px;
    height: 25px;
    padding: 4px 8px;
    margin-left: 12px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
 }
 
 .c1{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;

    letter-spacing: -0.04em;
    color: #CB5B43;
 }

 .alfa6{
    display: flex;
    align-items: center;
    width: 103px;
   height: 26px;
 }

 .alfa6:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
 }

 .alfa_c2{
    width: 46px;
    height: 26px;

    font-family: Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;
    color: #757575;
 }

 .alfa-box5{
    width: 45px;
    height: 25px;
    padding: 4px 8px;
    margin-left: 12px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
 }

 .c2{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;

    letter-spacing: -0.04em;
    color: #CB5B43;
 }

    .mark2{
        display: flex;
        align-items: center;
        padding: 0px 40px 0px 0px;
    }

    .room{
        display: flex;
        width: 926px;
        height: 336px;
        background: #FFFFFF;
        margin-inline: auto;

        box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
        border-radius: 14px;
    }
    .foto{
        width: 337px;
        height: 336px;
        position: relative;
    }

    .foto-room{
       width: 337px;
       height:336px;
       border-bottom-left-radius: 14px;
       border-top-left-radius:14px ;
    }

    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        position: absolute;
        top: 40px;
        right: 0;

        width: 51px;
        height: 98px;
         
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 8px 0px 0px 8px;
    }

    .contet-nummer{
        font-family: Montser;
        font-style: normal;
       font-weight: 600;
       font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.04em;
        margin-left: 10.4px;

          color: #FFFFFF;
    }

    .text-area{
        padding: 40px 0px 40px 40px;
        width: 556px;
        height: 336px;

    }

    .are{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 516px;
        height: 40px;
    }

    .remark1{
        width: 136px;
        height: 32px;

        font-family:Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;

        letter-spacing: -0.04em;
        color: #000000;
    }

    .remark2{
        width: 16px;
        height: 32px;
        margin: 0px 12px;

        font-family: Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;

        letter-spacing: -0.04em;
        color: #000000;
    }

    .note{
        width: 82px;
        height: 32px;

        font-family: Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;

        letter-spacing: -0.04em;
        color: #757575;
    }

    .mus{
        width: 40px;
        height: 40px;
        padding:10px;

        background: #F6F5F4;
        border-radius: 4px;
    }

    .are_2{
        display: flex;
        align-items: center;
    }

    .remark3{
        width: 87px;
        height: 25px;

        font-family: Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;

        letter-spacing: 0.04em;
        color: #000000;
    }

    .are_3{
        align-items: center;
        padding: 4px 12px;

        width: 100px;
        height: 28px;

        background: #CB5B43;
        border-radius: 4px;
    }

    .compound{
        width: 76px;
        height: 20px;

        font-family:Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;

        letter-spacing: -0.04em;
        color: #F6F5F4;
    }

    .area3{
        width: 516px;    
    }

    .remark4{
        width: 516px;
        height: 24px;
        
        font-family: Montser;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        
        letter-spacing: -0.04em;
        color: #000000;  
    }

    .remark5{
        width: 516px;
        height: 48px;
        
        font-family: Montser;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    
        letter-spacing: -0.04em;
        
        color: #757575;    
    }

    .area4{
        width: 406px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .but2{
        padding: 12px 20px;

        width: 156px;
        height: 40px;

        background: #639B6D;
        border-radius: 100px;
        border: none;

        font-family: Montser;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;

        letter-spacing: -0.04em;

        color: #F6F5F4;
    }

    .but3{
        padding: 12px 20px;
        width: 230px;
        height: 40px;
        border: none;

        background: rgba(203, 91, 67, 0.3);
        border-radius: 100px;

        font-family: Montser;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;

        letter-spacing: -0.04em;
        color: #CB5B43
    }

    .mark3{
        display: flex;
        align-items: center;
        padding: 0px 40px 0px 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .room2{
        display: flex;
        width: 926px;
        height: 336px;
        background: #FFFFFF;
        margin-inline: auto;

        box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
        border-radius: 14px;
    }

    .mark4{
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .page-nummer{
        width: 864px;
        height:44px;
        margin-inline: auto;
        display: flex;
    }

    .page-btn{
        margin-inline:auto ;
    }

     .btn5{
        align-items: center;
        
        width: 44px;
        height: 44px;
        margin-right: 24px;
        
        border: 3px solid #5996A5;
        border-radius: 100px;

        font-family:Montser;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.04em;

        color: #5996A5;
    }

    .btn2{
        align-items: center;
        
        width: 44px;
        height: 44px;
        margin-right: 24px;

        background: #2B788B;
        border: 3px solid #2B788B;
        border-radius: 100px;

        font-family: Montser;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.04em;

        color: #F6F5F4;
    }
    
    .btn3{
        margin-right: 24px;
        width: 15px;
        height: 44px;
        border: none;

        font-family:Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;

        letter-spacing: 0.04em;

        color: #757575;
    }

    .mark5{
        display: flex;
        height: 160px;
        align-items: center;
        background: #F6F5F4;
    }
    
    .footer{
        display: flex;
        margin-inline: auto;
        width: 1180px;  
    }

    
    .footer1 {
        display: flex;
        align-items: flex-start;
        padding: 0px;
        margin-bottom: 20px;
    }
    
    .footer3{
        margin-left: auto;
    }
    
    .text25{
        margin-right: 21.5px;
        font-family: Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
    
        color: #757575;
    }
    
    .text26{
        margin-right: 21.5px;
        font-family: Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
    
        color: #757575;
    }
    
    .footer4 {
        display: flex;
        height: 26px;
        margin-top: 20px;
        align-items: center;
        padding: 0px;
    }
    
    .footer_image {
        display: flex;
        width: 150px;
        height: 24px;
    }
    
    .footer_image1{
        Width:24.81px;
        height:19.87px;
        margin-right: 33.5px;
        background: #BABABA;;
    }
    
    .footer_image2{
        margin-right: 33.5px;
        width: 27.9px;
        height: 18.73px;
    }
    
    .footer_text{
        width: 249px;
        height: 12px;
        margin-left: 783px;
        
    }
    
    .text28{
        font-family:Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
    
        color: #757575;
    }